%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;

}


.btn-primary{
    @extend %btn;
    background-color: darken($primary-color , 10%);
}


.btn-secondary{
    @extend %btn;
    background-color: orange;
}