@import 'vars';
@import 'utilities';
@import 'buttons';





a{
    color: $links-color;
    text-decoration: none;

    &:hover {
        color: white;
    }
}




body{
    background-color: $body-color;
    font-family: $body-font;
    line-height: 1.6;
}

.showcase{
    background-color: $primary-color;
    color: $heading-color;
    height: 600px;
    padding: 15px 25px;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            list-style-type: none ;
            li{
                padding: 15px;
            }
        }
        a{
            &:hover { color: $links-color-hover;}
        }
    }


    // showcase-content

    &-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 50%;
        }
    }
}

.my-1{
    padding-top: 10px;
    padding-bottom: 40px;
}